.header {
  background: #3a3a3a;
  height: 50px;
  width: 100%;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;

  &__wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 22px;
    margin-right: 10px;
  }

  &__info {
    display: flex;

    .info-item {
      margin-right: 10px;
    }
  }
}